
.ourCreations{

    &__container{  

        .headerWrap{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .creationsHeader{
                height: 5.25rem; // 84px
                display: flex;
                
                h3{
                    display: flex;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 2.25rem; // 36px
                    color: $black;
                    font-weight: 300;
                    padding-top: 1.375rem; // 22px
                    padding-bottom: 2.1875rem; // 35px
                }

                @include breakpoint-up(medLarge){
                    justify-content: center;
                }

                @include breakpoint-up(large){
                    justify-content: left;
                    width: 60%;
                }

            }
            
            .creationsButtonDesktop{
                padding: 0.8rem 2.5rem; // 15px 40px 
                margin-right: 1.5rem;
                font-family: "Alata", sans-serif;
                background: $white;
                color: $black;
                border: solid 1px $black;
                letter-spacing: 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.5rem;

                &:hover{
                    color: $white;
                    background: $black;
                }

                @include breakpoint-down(medium){
                    display: none;
                }
            }            
            
            
        }





        .creationsTable{

            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            

            .itemWrap{
                position: relative;
                width: 100%;
                height: 100%;

                p{
                    position: absolute;
                    top: 4.5rem;  // 50px
                    left: 1.5rem;
                    margin: 0;
                    padding: 0;
                    color: $white;
                    z-index: 100;
                    font-family: "Josefin Sans", sans-serif;
                }

                .item{
                    margin: 1rem 0;
                    height: 7.5rem;
                    width: 100%;
                    background-repeat: no-repeat;
                    box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.4);
                    border-radius: 3px; 
                    position: relative;
                    padding-left: 1.375rem; // 22px
                    padding-top: 3.5rem;
                }
                .item1{
                    background: url(/images/mobile/image-deep-earth.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .item2{
                    background: url(/images/mobile/image-night-arcade.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: bottom;
                    box-shadow: inset 0px 0px 50px 30px rgba(0, 0, 0, 0.7);
                    
                } 
                .item3{
                    background: url(/images/mobile/image-soccer-team.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                } 
                .item4{
                    background: url(/images/mobile/image-grid.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }    
                .item5{
                    background: url(/images/mobile/image-from-above.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }                              
                .item6{
                    background: url(/images/mobile/image-pocket-borealis.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .item7{
                    background: url(/images/mobile/image-curiosity.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;                
                }
                .item8{
                    background: url(/images/mobile/image-from-above.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;                
                }                
            }



            @include breakpoint-up(medium){
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(240px, auto));
                grid-template-rows: repeat(auto-fit, 400px);
                grid-auto-rows: 400px;
                column-gap: 1.5rem; // 30px
                row-gap: 3rem;
                justify-content: center;
                
                .itemWrap{

                    height: 100%;
                    width: 100%;

                    p{
                        top: 21.875rem; // 350px
                    }

                    .item{
                        box-shadow: inset 0px 0px 50px 40px rgba(0, 0, 0, 0.5);
                    }

                    .item1{
                        background: url(/images/desktop/image-deep-earth.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                        
                    }
                    
                    .item2{
                        background: url(/images/desktop/image-night-arcade.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                    }
                    
                    .item3{
                        background: url(/images/desktop/image-soccer-team.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                    }
                    
                    .item4{
                        background: url(/images/desktop/image-grid.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                    }
                    
                    .item5{
                        background: url(/images/desktop/image-from-above.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                    }
                    
                    .item6{
                        background: url(/images/desktop/image-pocket-borealis.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                    }
                    
                    .item7{
                        background: url(/images/desktop/image-curiosity.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                    }

                    .item8{
                        background: url(/images/desktop/image-fisheye.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                    }

                    // hover effects 
                    &:hover{

                        p{
                            color: $black;
                        }
                        .item{
                            opacity: .5;
                        }
                    }                    

                }

            }

            @include breakpoint-up(medLarge){
                column-gap: 4rem;
                justify-content: left;
                grid-template-columns: repeat(auto-fit, minmax(280px, auto));                
                grid-template-rows: repeat(auto-fit, 400px);
                grid-auto-rows: 400px;
                justify-content: center;
            }

            @include breakpoint-up(large){
                column-gap: 3rem;
                grid-template-columns: repeat(auto-fit, minmax(240px, auto));
                justify-content: left;
            }

        }

        .creationsBtn{
            display:none;
        }

        .creationsBtnCont{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin-top: 2rem; // 32px

            @include breakpoint-up(large){
                display: none;
            }

            .creationsBtnM{
                padding: 0.8rem 2.5rem; // 15px 40px 
                font-family: "Alata", sans-serif;
                background: $white;
                color: $black;
                border: solid 1px $black;
                letter-spacing: 1px;

                &:hover{
                    color: $white;
                    background: $black;
                }
            }
        }
    }
}

